<script>
  let { addStation, importStations, modal = $bindable() } = $props();

  let name = $state("");
  let img = $state("");
  let link = $state("");
  let hls = $state(false);
  let media_type = $derived(hls ? "audio/x-mpegurl" : "audio");
</script>

<dialog bind:this={modal} class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-xl">Add station</h3>
    <label class="form-control w-full mt-2">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <input
        type="text"
        placeholder="Station name"
        class="input input-bordered w-full"
        bind:value={name}
      />
    </label>
    <label class="form-control w-full mt-2">
      <div class="label">
        <span class="label-text">Image URL</span>
      </div>
      <input
        type="text"
        placeholder="https://radio.fm/logo.png"
        class="input input-bordered w-full"
        bind:value={img}
      />
    </label>
    <label class="form-control w-full mt-2">
      <div class="label">
        <span class="label-text">Stream URL</span>
      </div>
      <input
        type="text"addStation
        placeholder="https://stream.radio.fm/stream"
        class="input input-bordered w-full"
        bind:value={link}
      />
    </label>
    <div class="form-control mt-2">
      <label class="label cursor-pointer">
        <span class="label-text">HLS</span>
        <input type="checkbox" class="toggle" bind:checked={hls} />
      </label>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button
          class="btn bg-gradient-to-r from-blue-500 to-blue-700 text-white"
          onclick={() => addStation({ name, img, link, media_type })}
        >
          Add
        </button>
        <button class="btn">Cancel</button>
      </form>
    </div>
    <h2 class="font-bold text-lg">Import</h2>
    <br />
    <input
      type="file"
      class="file-input file-input-bordered w-full mb-6 lg:mb-0"
      onchange={(e) => {
        e.target.files[0].text().then((t) => {
          importStations(t);
          modal.close();
        });
      }}
    />
  </div>
</dialog>
