<script>
  let { delStation, modal = $bindable() } = $props();
</script>

<dialog bind:this={modal} class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-xl">Delete station?</h3>
    <div class="modal-action">
      <form method="dialog">
        <button
          class="btn bg-gradient-to-r from-blue-500 to-blue-700 text-white"
          onclick={() => {
            delStation();
            modal.close();
          }}
          >Confirm
          </button>
        <button class="btn">Cancel</button>
      </form>
    </div>
  </div>
</dialog>
