<script>
  import "vidstack/player/styles/default/theme.css";
  import "vidstack/player/styles/default/layouts/audio.css";
  import "vidstack/player";
  import "vidstack/player/layouts";
  import "vidstack/player/ui";
  import HLS from "hls.js";

  let { station } = $props();

  let player;

  $effect(() => {
    player.src = {
      src: station.link,
      type: station.media_type === "hls" ? "audio/x-mpegurl" : "video/mp4",
    };

    player.addEventListener("play", () => {
      navigator.mediaSession.metadata = new MediaMetadata({
        title: station.name,
        artist: "Simple Radio",
        artwork: [{ src: station.img }],
      });
    });

    player.addEventListener("provider-change", (e) => {
      const provider = e.detail;
      if (provider?.type === "hls") {
        provider.library = HLS;
      }
    });
  });
</script>

<media-player
  title={station.name}
  view-type="audio"
  stream-type="live"
  crossorigin="anonymous"
  autoplay
  playsInline
  bind:this={player}
>
  <media-provider></media-provider>
  <media-audio-layout></media-audio-layout>
</media-player>
