<script>
  import "./global.css";
  import Player from "./components/Player.svelte";
  import AddStation from "./components/AddStation.svelte";
  import IconPlus from "~icons/ph/plus";
  import IconDownload from "~icons/ph/download-simple";
  import IconTrash from "~icons/ph/trash-bold";
  import IconRadio from "~icons/ph/radio";
  import IconPencil from "~icons/ph/pencil";
  import IconX from "~icons/ph/x";
  import DeleteStation from "./components/DeleteStation.svelte";
  import { onMount } from "svelte";

  let editing = $state(false);

  let addStation = $state();
  let delStation = $state({
    modal: null,
    station: {},
  });

  let station = $state({
    name: "Select a station",
    img: "simple-radio.svg",
    link: "",
    media_type: "",
  });
  let stations = $state([]);

  onMount(() => {
    let dataLs = localStorage.getItem("stationList");
    if (dataLs) {
      let data = JSON.parse(dataLs);
      stations = data.stations;
    }
  });

  $effect(() => {
    if (stations.length > 0) {
      localStorage.setItem("stationList", JSON.stringify({ stations }));
    }
  });

  function exportStationList() {
    const stationList =
      localStorage.getItem("stationList") || `{"stations": []}`;
    const blob = new Blob([stationList], { type: "application/json" });
    const url = URL.createObjectURL(blob);
    let link = document.createElement("a");
    link.download = "simple-radio-export.json";
    link.href = url;
    link.click();
  }
</script>

<svelte:head>
  <title>Simple Radio</title>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="apple-mobile-web-app-title" content="Simple Radio" />
  <meta name="application-name" content="Simple Radio" />
  <meta name="msapplication-TileColor" content="#dbeafe" />
  <meta name="msapplication-config" content="browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />

  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    name="viewport"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />

  <meta name="referrer" content="no-referrer" />
  <meta
    name="description"
    content="A simple internet radio player for the web."
  />
</svelte:head>

<nav class="navbar justify-between px-8 pt-10">
  <h1 class="font-bold text-3xl dark:text-white">Simple Radio</h1>
  <div class="flex gap-4">
    <button title="Add stations" onclick={() => addStation.showModal()}>
      <IconPlus class="text-2xl dark:text-white" />
    </button>

    {#if editing}
      <button title="Stop editing stations" onclick={() => (editing = false)}>
        <IconX class="text-2xl dark:text-white" />
      </button>
    {:else}
      <button title="Edit stations" onclick={() => (editing = true)}>
        <IconPencil class="text-2xl dark:text-white" />
      </button>
    {/if}

    <button title="Export stations" onclick={() => exportStationList()}>
      <IconDownload class="text-2xl dark:text-white" />
    </button>
  </div>
</nav>

<AddStation
  bind:modal={addStation}
  addStation={(s) => (stations = [...stations, s])}
  importStations={(t) => {
    let data = JSON.parse(t);
    stations = data.stations;
  }}
/>

<DeleteStation
  bind:modal={delStation.modal}
  delStation={() => {
    stations = stations.filter((e) => {
      return e.name != delStation.station.name;
    });
  }}
/>

<section class="flex flex-col px-8">
  {#if stations.length == 0}
    <div class="flex flex-col items-center self-center mt-24">
      <figure class="p-2"><IconRadio class="text-5xl" /></figure>
      <h2 class="text-2xl font-bold">No stations</h2>
      <p>Click + to add a station.</p>
    </div>
  {/if}
  <div class="gap-4 mt-4 w-full grid grid-cols-1 lg:grid-cols-4 auto-rows-max">
    {#each stations as s}
      <div class="card card-side bg-base-100 shadow-xl pr-4 gap-4">
        <figure>
          <img src={s.img} alt="Station" class="w-28 h-28 bg-white" />
        </figure>
        <div class="flex flex-col gap-2 justify-center">
          <h2 class="card-title dark:text-white">{s.name}</h2>
          <div class="flex gap-2">
            {#if editing}
              <button
                class="btn bg-red-300 w-min"
                onclick={() => {
                  delStation.station = s;
                  delStation.modal.showModal();
                }}
              >
                <IconTrash />
              </button>
            {:else}
              <button
                class="btn w-min"
                onclick={() => {
                  station = s;
                }}>Play</button
              >
            {/if}
          </div>
        </div>
      </div>
    {/each}
  </div>
  <div class="py-[15vh]"></div>
</section>

<footer
  class="navbar bg-base-300 fixed bottom-0 gap-4 items-center justify-center flex-col lg:flex-row px-8 pb-10 lg:pb-4 py-4"
>
  <div class="w-full flex gap-4">
    <img
      src={station.img}
      alt="Station"
      class="w-20 rounded-xl aspect-square object-cover bg-white"
    />
    <h2 class="font-bold text-lg dark:text-white">{station.name}</h2>
  </div>
  <Player {station} />
</footer>
